.footer{ 
background-color: var(--blue);
margin: 2rem;
margin-top: 5rem;
padding:1.5rem 2rem;
display: flex;
justify-content: space-between;
align-items: center;
border-radius: 1rem;
}
.footer>p{
    color:var(--white)
}